
# NEXYS2 50 MHz cristal oscillator
NET "clk" LOC = "B8";

NET "rst" LOC = "B18"; # BTN0

# NEXYS2 UART
NET "tx" LOC = "P9";
NET "rx" LOC = "U6";

# NEXYS2 LEDS
NET "leds<0>"  LOC = "J14";
NET "leds<1>"  LOC = "J15";
NET "leds<2>"  LOC = "K15";
NET "leds<3>"  LOC = "K14";
NET "leds<4>"  LOC = "E16";
NET "leds<5>"  LOC = "P16";
NET "leds<6>"  LOC = "E4" ;
NET "leds<7>"  LOC = "P4" ;

# NEXYS2 7 SEGMENT DISPLAY
NET "sseg<0>"  LOC = "L18";
NET "sseg<1>"  LOC = "F18";
NET "sseg<2>"  LOC = "D17";
NET "sseg<3>"  LOC = "D16";
NET "sseg<4>"  LOC = "G14";
NET "sseg<5>"  LOC = "J17";
NET "sseg<6>"  LOC = "H14";
NET "sseg<7>"  LOC = "C17";

# NEXYS2 7 SEGMENT DISPLAY ENABLE
NET "an<0>"    LOC = "F17";
NET "an<1>"    LOC = "H17";
NET "an<2>"    LOC = "C18";
NET "an<3>"    LOC = "F15";


# OLD SCHEME
# CSOC INTERFACE                       # ET_ATPG_NAME - NESYS2  - CSOC_TEST_BOARD
# NET "csoc_clk"        LOC = "K13";   # part_PIs[06] - JA-7    - P3-5
# NET "csoc_data_o<0>"  LOC = "L15";   # part_PIs[02] - JA-1    - P3-1
# NET "csoc_data_o<1>"  LOC = "L16";   # part_PIs[07] - JA-8    - P3-6
# NET "csoc_data_o<2>"  LOC = "K12";   # part_PIs[03] - JA-2    - P3-2
# NET "csoc_data_o<3>"  LOC = "M14";   # part_PIs[08] - JA-9    - P3-7
# NET "csoc_data_o<4>"  LOC = "L17";   # part_PIs[04] - JA-3    - P3-3
# NET "csoc_data_o<5>"  LOC = "M16";   # part_PIs[09] - JA-10   - P3-8
# NET "csoc_data_o<6>"  LOC = "M15";   # part_PIs[05] - JA-4    - P3-4

# CSOC INTERFACE                       # ET_ATPG_NAME   - NESYS2  - CSOC_TEST_BOARD
# #GND                                 # part_PIs[  ] - JB-11   - P2-8
# #GND                                 # part_PIs[  ] - JB-5    - P2-7
# NET "csoc_test_tm"    LOC = "P17";   # part_PIs[11] - JB-7    - P2-5
# NET "csoc_test_se"    LOC = "M13";   # part_PIs[10] - JB-1    - P2-1
# NET "csoc_data_o<7>"  LOC = "R16";   # part_PIs[12] - JB-8    - P2-6
# NET "csoc_uart_read"  LOC = "R18";   # part_POs[10] - JB-2    - P2-2
# NET "csoc_uart_write" LOC = "T18";   # part_POs[09] - JB-9    - P2-4
# NET "csoc_rstn"       LOC = "R15";   # part_PIs[13] - JB-3    - P2-3

# CSOC INTERFACE                       # ET_ATPG_NAME   - NESYS2  - CSOC_TEST_BOARD
# NET "csoc_data_i<7>"  LOC = "H15";   # part_POs[06] - JC-7    - P1-5
# NET "csoc_data_i<6>"  LOC = "G15";   # part_POs[02] - JC-1    - P1-1
# NET "csoc_data_i<5>"  LOC = "F14";   # part_POs[07] - JC-8    - P1-6
# NET "csoc_data_i<4>"  LOC = "J16";   # part_POs[03] - JC-2    - P1-2
# NET "csoc_data_i<3>"  LOC = "G16";   # part_POs[08] - JC-9    - P1-7
# NET "csoc_data_i<2>"  LOC = "G13";   # part_POs[04] - JC-3    - P1-3
# NET "csoc_data_i<1>"  LOC = "J12";   # part_POs[09] - JC-10   - P1-8
# NET "csoc_data_i<0>"  LOC = "H16";   # part_POs[05] - JC-4    - P1-4


# NEW SCHEME
# FROM CADENCE ET TESTBENCH
NET "part_pis<1>"  LOC = "K13"; # ---> clk_i        // clk_i     test_function= -ES;
NET "part_pis<2>"  LOC = "H16"; # ---> data_i[0]    //
NET "part_pis<3>"  LOC = "J12"; # ---> data_i[1]    //
NET "part_pis<4>"  LOC = "G13"; # ---> data_i[2]    //
NET "part_pis<5>"  LOC = "G16"; # ---> data_i[3]    //
NET "part_pis<6>"  LOC = "J16"; # ---> data_i[4]    //
NET "part_pis<7>"  LOC = "F14"; # ---> data_i[5]    //
NET "part_pis<8>"  LOC = "G15"; # ---> data_i[6]    //
NET "part_pis<9>"  LOC = "H15"; # ---> data_i[7]    // data_i[7]  test_function= SI0;
NET "part_pis<10>" LOC = "R15"; # ---> reset_i      // reset_i    test_function= +SC;  # test_mode
NET "part_pis<11>" LOC = "M13"; # ---> test_se_i    // test_se_i  test_function= +SE;  # shift_enable
NET "part_pis<12>" LOC = "P17"; # ---> test_tm_i    // test_tm_i  test_function= +TI;  # test_mode
NET "part_pis<13>" LOC = "R18"; # ---> uart_read_i  //
# NET "part_pis<14>" LOC = "";  # ---> xtal_a_i     //
# NET "part_pos<1>" LOC = "";  # ---> clk_o        //
NET "part_pos<2>"  LOC = "L15"; # ---> data_o[0]    //
NET "part_pos<3>"  LOC = "L16"; # ---> data_o[1]    //
NET "part_pos<4>"  LOC = "K12"; # ---> data_o[2]    //
NET "part_pos<5>"  LOC = "M14"; # ---> data_o[3]    //
NET "part_pos<6>"  LOC = "L17"; # ---> data_o[4]    //
NET "part_pos<7>"  LOC = "M16"; # ---> data_o[5]    //
NET "part_pos<8>"  LOC = "M15"; # ---> data_o[6]    //
NET "part_pos<9>"  LOC = "R16"; # ---> data_o[7]    // data_o[7]  test_function= SO0;
NET "part_pos<10>" LOC = "T18"; # ---> uart_write_o //
# NET "part_pos<11>" LOC = "";  # ---> xtal_b_o     //


